<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestion Clients</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/clients"
                            routerLinkActive="active">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/factures">Factures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/fournisseurs">Fournisseurs</a>
                    </li>
                    <!-- Button trigger modal -->


                </ul>


            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFacture">
                Ajouter un client
            </button>
        </div>
    </nav>




    <!-- ADD Modal -->
    <div class="modal fade" id="addFacture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un client</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="detailClient" name="form" >
                        <div class="mb-3">

                            <label for="nom" class="form-label">Nom</label>
                            <input minlength="4" type="text" formControlName="nom" class="form-control" id="nom" [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }" />
                            <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
                                <div *ngIf="f['nom'].errors['required']">le nom est obligatoire</div>
                            </div>

                            

                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prenom</label>
                            <input type="text" formControlName="prenom" class="form-control" id="prenom" [ngClass]="{ 'is-invalid': submitted && f['prenom'].errors }">
                            <div *ngIf="submitted && f['prenom'].errors" class="invalid-feedback">
                                <div *ngIf="f['prenom'].errors['required']">le prenom est obligatoire</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" formControlName="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['email']">l'email est obligatoire</div>
                                <div *ngIf="f['email'].errors['email']">vérifier votre email</div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" (click)="onReset()" >nettoyer</button>
                        <button type="button" data-bs-dismiss="modal"  [disabled]="!detailClient.valid" (click)="addClient()"  class="btn btn-primary">Ajouter Client</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">email</th>
                <th scope="col">actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of listClient">
                <th>{{client.idClient}}</th>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.email}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteClient(client)">supprimer
                    </button>
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                        (click)="editClient(client)" data-bs-target="#modifierFacture">modifier</button>


                </td>
                <!-- UPDATE  Modal -->
                <div class="modal fade" id="modifierFacture" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">modifier Facture</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="detailClient">
                                    <div class="mb-3">

                                        <label for="idClient" class="form-label">id client</label>
                                        <input type="text" formControlName="idClient" class="form-control"
                                            id="idClient">

                                        <label for="nom" class="form-label">nom</label>
                                        <input type="text" formControlName="nom" class="form-control" id="nom" >
                                        

                                        <label for="prenom" class="form-label">prenom</label>
                                        <input type="text" formControlName="prenom" class="form-control" id="prenom">

                                        <label for="email" class="form-label">email</label>
                                        <input type="email" formControlName="email" class="form-control" id="email">

                                    </div>






                                    <button type="button" class="btn btn-secondary">Close</button>
                                    <button type="button" (click)="updateClient()" data-bs-dismiss="modal"
                                        class="btn btn-primary">modifier client</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </tr>

        </tbody>
    </table>
   






</div>